#mic{

color:transparent;
background-color:transparent;
border:0px;
width:15px;

-webkit-transform: scale(3.0, 3.0);
-moz-transform: scale(3.0, 3.0);
-ms-transform: scale(3.0, 3.0);
transform: scale(3.0, 3.0);

}
